body {
	margin: auto;
	background-color: #f3f3f3;
}


a {
	color: #aaa;
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
	color: #34495e;
	font-family: 'Oswald', sans-serif;
}


small, p {
	color: #777;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
	line-height: 1.05;
	text-align: left;
	padding: 5px;
}


p {
	font-size: 18px;
	line-height: 1.3;
}